<!-- Slideshow 4 -->
<div class="slider">
   <div class="callbacks_container">
      <ul class="rslides" id="slider4">
         <li>
            <div class="slider-img w3-oneimg">
               <div class="container">
                  <div class="slider-info">
                     <h6>APL</h6>
                     <h4>International <br>Courier Services</h4>
                     <p>As an IATA (International Air Transport Association) endorsed agent,
                       we have the experience to  make it easy to ship your package around the world
                        so you can spend your time on your business.
                     </p>
                  </div>
               </div>
            </div>
         </li>
         <li>
            <div class="slider-img w3-twoimg">
               <div class="container">
                  <div class="slider-info">
                     <h6>Worldwide</h6>
                     <h4>Biggest <br> Network</h4>
                     <p>We have the largest newtwork of logistics
                        Services and coverage in other.
                        to serve you better
                     </p>
                  </div>
               </div>
            </div>
         </li>
         <li>
            <div class="slider-img w3-threeimg">
               <div class="container">
                  <div class="slider-info">
                     <h6>Supplying</h6>
                     <h4>Secured<br> Transport</h4>
                     <p>You cantrust your packages with us
                       we never loose a package and we never open a package
                       no questions asked and highly secured
                     </p>
                  </div>
               </div>
            </div>
         </li>
      </ul>
   </div>
   <div class="clearfix"> </div>
   <!-- This is here just to demonstrate the callbacks -->
   <!-- <ul class="events">
      <li>Example 4 callback events</li>
      </ul>-->
</div>
